# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

# Challenge 1 - Accessing our database
Create a connection to access the sakila database with the ip, user and password provided in class. Take a look at the data. Do some joins in order to have more elaborated tables in a dataframe (you can try first the query in the DBMS and then use it in your notebook).

In [2]:
# your code here.

# Challenge 2 - Working with JSON files

Import the pandas library.

In [1]:
import pandas as pd

In the next cell, load the data in `nasa.json` in the `data` folder and load it into a pandas dataframe. Name the dataframe `nasa`.

In [2]:
df_json = pd.read_json('/home/usuario/Bootcamp/dataptmad1120/module-1/importing-exporting-data/data/nasa.json', orient='records')

Now that we have loaded the data, let's examine it using the `head()` function.

In [3]:
df_json.head()

,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4,fall,geolocation,id,mass,name,nametype,recclass,reclat,reclong,year
0,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [6.08333, 50....",1,21.0,Aachen,Valid,L5,50.77500,6.08333,1880-01-01T00:00:00.000
1,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [10.23333, 56...",2,720.0,Aarhus,Valid,H6,56.18333,10.23333,1951-01-01T00:00:00.000
2,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-113, 54.216...",6,107000.0,Abee,Valid,EH4,54.21667,-113.00000,1952-01-01T00:00:00.000
3,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-99.9, 16.88...",10,1914.0,Acapulco,Valid,Acapulcoite,16.88333,-99.90000,1976-01-01T00:00:00.000
4,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-64.95, -33....",370,780.0,Achiras,Valid,L6,-33.16667,-64.95000,1902-01-01T00:00:00.000

#### The `value_counts()` function is commonly used in pandas to find the frequency of every value in a column.

In the cell below, use the `value_counts()` function to determine the frequency of all types of asteroid landings by applying the function to the `fall` column.

In [4]:
df_json['fall'].value_counts()

Fell     996
Found      4
Name: fall, dtype: int64

Finally, let's save the dataframe as a json file again. Save the dataframe using the `orient=records` argument and name the file `nasa-output.json`. Remember to save the file inside the `data` folder.

In [5]:
df_json.to_json('/home/usuario/Bootcamp/dataptmad1120/module-1/importing-exporting-data/data/nasa-output.json', orient='records')

# Challenge 2 - Working with CSV and Other Separated Files

CSV files are more commonly used as dataframes. In the cell below, load the file from the URL provided using the `read_csv()` function in pandas. Starting version 0.19 of pandas, you can load a CSV file into a dataframe directly from a URL without having to load the file first and then transform it. The dataset we will be using contains information about NASA shuttles.

In the cell below, we define the column names and the URL of the data. Following this cell, read the tst file to a variable called `shuttle`. Since the file does not contain the column names, you must add them yourself using the column names declared in `cols` using the `names` argument. Additionally, a tst file is space separated, make sure you pass ` sep=' '` to the function.

In [6]:
cols = ['time', 'rad_flow', 'fpv_close', 'fpv_open', 'high', 'bypass', 'bpv_close', 'bpv_open', 'class', 'extra']
tst_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/shuttle/shuttle.tst'

In [7]:
shuttle_conn = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/shuttle/shuttle.tst ', sep= ' ')
shuttle = pd.DataFrame(shuttle_conn)
shuttle

       55  0   81  0.1  -6  11  25   88   64  4
0      56  0   96    0  52  -4  40   44    4  4
1      50 -1   89   -7  50   0  39   40    2  1
2      53  9   79    0  42  -2  25   37   12  4
3      55  2   82    0  54  -6  26   28    2  1
4      41  0   84    3  38  -4  43   45    2  1
...    .. ..  ...  ...  ..  ..  ..  ...  ... ..
14494  80  0   84    0 -36 -29   4  120  116  5
14495  55  0   81    0 -20  25  26  102   76  4
14496  55  0   77    0  12 -22  22   65   42  4
14497  37  0  103    0  18 -16  66   85   20  1
14498  56  2   98    0  52   1  42   46    4  4

[14499 rows x 10 columns]

In [8]:
shuttle.columns = cols

Let's verify that this worked by looking at the `head()` function.

In [9]:
shuttle.head()

,time,rad_flow,fpv_close,fpv_open,high,bypass,bpv_close,bpv_open,class,extra
0,56,0,96,0,52,-4,40,44,4,4
1,50,-1,89,-7,50,0,39,40,2,1
2,53,9,79,0,42,-2,25,37,12,4
3,55,2,82,0,54,-6,26,28,2,1
4,41,0,84,3,38,-4,43,45,2,1

To make life easier for us, let's turn this dataframe into a comma separated file by saving it using the `to_csv()` function. Save `shuttle` into the file `shuttle.csv` and ensure the file is comma separated, that we are not saving the index column and that the file is saved inside the `data` folder.

In [10]:
shuttle.to_csv('/home/usuario/Bootcamp/dataptmad1120/module-1/importing-exporting-data/data/shuttle.csv', sep= ",")

# Challenge 3 - Working with Excel Files

We can also use pandas to convert excel spreadsheets to dataframes. Let's use the `read_excel()` function. In this case, `astronauts.xls` is in the `data` folder. Read this file into a variable called `astronaut`. 

Note: Make sure to install the `xlrd` library if it is not yet installed.

In [11]:
!conda install -y xlrd

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Use the `head()` function to inspect the dataframe.

In [12]:
!conda install -y openpyxl

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Use the `value_counts()` function to find the most popular undergraduate major among all astronauts.

In [20]:
astronaut = pd.read_excel('/home/usuario/Bootcamp/dataptmad1120/module-1/importing-exporting-data/data/astronauts.xls')

astronaut.head()

XLRDError: Unsupported format, or corrupt file: Expected BOF record; found b'Name\tYea'

Due to all the commas present in the cells of this file, let's save it as a tab separated csv file. In the cell below, save `astronaut` as a **tab separated file** using the `to_csv` function. Call the file `astronaut.csv`. Remember to remove the index column and save the file in the `data` folder.

In [14]:
astronaut.to_csv('/home/usuario/Bootcamp/dataptmad1120/module-1/importing-exporting-data/data/astronauts.csv', sep='\t', index= False)

NameError: name 'astronaut' is not defined

# Bonus Challenge - Fertility Dataset

Visit the following [URL](https://archive.ics.uci.edu/ml/datasets/Fertility) and retrieve the dataset as well as the column headers. Determine the correct separator and read the file into a variable called `fertility`. Examine the dataframe using the `head()` function. 

Look in Google for a way to retrieve this data!

In [15]:
# your code here